[submodule "passive_data_kit"]
	path = passive_data_kit
	url = https://github.com/audaciouscode/PassiveDataKit-Django.git
[submodule "dialog_engine"]
	path = django_dialog_engine
	url = https://github.com/audaciouscode/Django-Dialog-Engine.git
