[submodule "passive_data_kit"]
	path = passive_data_kit
	url = https://github.com/audacious-software/PassiveDataKit-Django.git
[submodule "dialog_engine"]
	path = django_dialog_engine
	url = https://github.com/audacious-software/Django-Dialog-Engine.git
[submodule "quicksilver"]
	path = quicksilver
	url = https://github.com/audaciouscode/Quicksilver-Django.git
[submodule "http_support/client"]
	path = http_support/client
	url = https://github.com/audacious-software/Hive-Mechanic-Client-Python.git
[submodule "nagios_monitoring"]
	path = nagios_monitor
	url = https://github.com/audacious-software/Django-Nagios-Monitoring.git
[submodule "simple_backup"]
	path = simple_backup
	url = https://github.com/audacious-software/Simple-Backup-Django.git
[submodule "simple_dashboard"]
	path = simple_dashboard
	url = https://github.com/audacious-software/Simple-Dashboard-Django.git
[submodule "simple_messaging"]
	path = simple_messaging
	url = https://github.com/audacious-software/Simple-Messaging-Django.git
[submodule "simple_messaging_switchboard"]
	path = simple_messaging_switchboard
	url = https://github.com/audacious-software/Simple-Messaging-Switchboard
[submodule "simple_messaging_twilio"]
	path = simple_messaging_twilio
	url = https://github.com/audacious-software/Simple-Messaging-Django-Twilio.git
