wheel

-r django_dialog_engine/requirements.txt
-r nagios_monitor/requirements.txt
-r passive_data_kit/requirements.txt
-r quicksilver/requirements.txt

django-db-logger==0.1.10
django-filer==2.1.2; python_version >= '3.0'
django-filer==1.7.1; python_version < '3.0'
easy-thumbnails==2.6; python_version < '3.0'
easy-thumbnails==2.8.3; python_version >= '3.0'
humanize==4.0.0; python_version >= '3.0'
humanize==1.0.0; python_version < '3.0'
Pillow==9.0.1; python_version >= '3.0'
Pillow==6.2.2; python_version < '3.0'
py-mini-racer==0.6.0
pygame==2.0.1
pyOpenSSL==23.0.0; python_version >= '3.0'
pyOpenSSL==21.0.0; python_version < '3.0'
reportlab==3.5.59; python_version < '3.0'
reportlab==3.6.11; python_version >= '3.0'
selenium==3.141.0
sh==1.14.2
svglib==0.9.4; python_version < '3.0'
svglib==1.4.1; python_version >= '3.0'
twilio==6.63.2; python_version < '3.0'
twilio==7.4.0; python_version >= '3.0'
