{% extends 'builder_base.html' %}
{% load humanize %}
{% load static %}
{% load builder_tags %}

{% block 'page_title' %}Activity Log | Hive Mechanic{% endblock %}

{% block 'page_help' %}
	<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Help" id="action_help">help</a>
{% endblock %}

{% block 'additional_css' %}
	.selected_tag {
		display: inline-block;
		background-color: #6100EE;
		border-radius: 5px;
		color: #ffffff;
		font-weight: bold;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 2px;
		margin-bottom: 2px;
	}
{% endblock %}

{% block 'main_content' %}
	<div class="mdc-layout-grid mdc-typography">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
				<div class="mdc-card">
					<div class="mdc-data-table " id="events_table">
					  <div class="mdc-data-table__table-container">
						<table class="mdc-data-table__table mdc-typography--caption" aria-label="Event Log" style="width: 100%">
						  <thead>
							<tr class="mdc-data-table__header-row">
							  <th class="mdc-data-table__header-cell mdc-typography--caption" role="columnheader" scope="col">
							  	<strong style="vertical-align: middle;"><a href="#" id="sort_source">Source</a></strong>
							  	{% if sort == 'source' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_up</span>
							  	{% endif %}
							  	{% if sort == '-source' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_down</span>
							  	{% endif %}
							  </th>
							  <th class="mdc-data-table__header-cell mdc-typography--caption" role="columnheader" scope="col">
							  	<strong style="vertical-align: middle;"><a href="#" id="sort_player">Player</a></strong>
							  	{% if sort == 'player' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_up</span>
							  	{% endif %}
							  	{% if sort == '-player' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_down</span>
							  	{% endif %}
							  </th>
							  <th class="mdc-data-table__header-cell mdc-typography--caption" role="columnheader" scope="col">
							  	<strong style="vertical-align: middle;"><a href="#" id="sort_message">Event</a></strong>
							  	{% if sort == 'message' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_up</span>
							  	{% endif %}
							  	{% if sort == '-message' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_down</span>
							  	{% endif %}
							  </th>
							  <th class="mdc-data-table__header-cell mdc-typography--caption" role="columnheader" scope="col" style="width: 200px;">
							  	<strong style="vertical-align: middle;"><a href="#" id="sort_logged">Date</a></strong>
							  	{% if sort == 'logged' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_up</span>
							  	{% endif %}
							  	{% if sort == '-logged' %}
							  		<span class="material-icons" style="vertical-align: middle;">arrow_drop_down</span>
							  	{% endif %}
							  </th>
							  <th class="mdc-data-table__header-cell mdc-typography--caption" role="columnheader" scope="col" style="width: max-content;"><span class="material-icons">attachment</span></th>
							</tr>
						  </thead>
						  <tbody class="mdc-data-table__content">
							{% for item in log_items %}
								<tr class="mdc-data-table__row" data-message="{{ item.message }}" data-date="{{ item.logged }}" data-name="{{ item.source }}" data-details='{{ item.details_json }}' {% if item.has_preview %}data-attachment='{{ item.preview }}'{% endif %}>
								  <td class="mdc-data-table__cell mdc-typography--caption" scope="row" style="white-space: break-spaces;">{{ item.source }}</td>
								  <td class="mdc-data-table__cell mdc-typography--caption" scope="row" style="white-space: break-spaces;">{{ item.player_str }}</td>
								  <td class="mdc-data-table__cell mdc-typography--caption" scope="row" style="white-space: break-spaces;">{{ item.message }}</td>
								  <td class="mdc-data-table__cell mdc-typography--caption" style="vertical-align: top;">{{ item.logged|date:'M j Y, g:iA' }}</td>
								  <td class="mdc-data-table__cell mdc-typography--caption" style="vertical-align: top;">
								  	{% with item.preview_count as preview_count %}
								  		{% if preview_count > 0 %}
											<center>{{ preview_count }}</center>
										{% endif %}
									{% endwith %}
								  </td>
								</tr>
							{% endfor %}
						  </tbody>
						</table>
					  </div>
					  <div class="mdc-data-table__pagination">
						<div class="mdc-data-table__pagination-trailing">
						  <div class="mdc-data-table__pagination-rows-per-page">
							<div class="mdc-data-table__pagination-rows-per-page-label">
							  Events per page
							</div>
							<div class="mdc-select mdc-select--outlined mdc-select--no-label mdc-data-table__pagination-rows-per-page-select mdc-data-table__pagination-rows-per-page-select--outlined" id="items_per_page">
							  <div class="mdc-select__anchor" role="button" aria-haspopup="listbox" aria-labelledby="demo-pagination-select" tabindex="0">
								<span class="mdc-select__selected-text-container">
								  <span id="demo-pagination-select" class="mdc-select__selected-text">25</span>
								</span>
								<span class="mdc-select__dropdown-icon">
								  <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5">
									<polygon class="mdc-select__dropdown-icon-inactive"	stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
									<polygon class="mdc-select__dropdown-icon-active" stroke="none"	fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
								  </svg>
								</span>
								<span class="mdc-notched-outline mdc-notched-outline--notched">
								  <span class="mdc-notched-outline__leading"></span>
								  <span class="mdc-notched-outline__trailing"></span>
								</span>
							  </div>

							  <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox">
								<ul class="mdc-list">
								  <li class="mdc-select__option mdc-select__one-line-option mdc-list-item mdc-list-item--selected mdc-list-item--with-one-line" aria-selected="true" role="option" data-value="25">
									<span class="mdc-list-item__ripple"></span>
									<span class="mdc-list-item__content">
									  <span class="mdc-list-item__primary-text">25</span>
									</span>
								  </li>
								  <li class="mdc-select__option mdc-select__one-line-option mdc-list-item mdc-list-item--with-one-line" role="option" data-value="50">
									<span class="mdc-list-item__ripple"></span>
									<span class="mdc-list-item__content">
									  <span class="mdc-list-item__primary-text">50</span>
									</span>
								  </li>
								  <li class="mdc-select__option mdc-select__one-line-option mdc-list-item mdc-list-item--with-one-line" role="option" data-value="100">
									<span class="mdc-list-item__ripple"></span>
									<span class="mdc-list-item__content">
									  <span class="mdc-list-item__primary-text">100</span>
									</span>
								  </li>
								</ul>
							  </div>
							</div>
						  </div>

						  <div class="mdc-data-table__pagination-navigation">
							<div class="mdc-data-table__pagination-total">
							  {{ start_item|intcomma }} to {{ end_item|intcomma }} of {{ total_count|intcomma }}
							</div>
							{% if first_page %}
								<a href="{{ first_page }}" class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-first-page="true">
								  <div class="mdc-button__icon">first_page</div>
								</a>
							{% else %}
								<button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-first-page="true" disabled>
								  <div class="mdc-button__icon">first_page</div>
								</button>
							{% endif %}
							{% if prior_page %}
								<a href="{{ prior_page }}" class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true">
								  <div class="mdc-button__icon">chevron_left</div>
								</a>
							{% else %}
								<button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true" disabled>
								  <div class="mdc-button__icon">chevron_left</div>
								</button>
							{% endif %}
							{% if next_page %}
								<a href="{{ next_page }}" class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true">
								  <div class="mdc-button__icon">chevron_right</div>
								</a>
							{% else %}
								<button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true" disabled>
								  <div class="mdc-button__icon">chevron_right</div>
								</button>
							{% endif %}
							{% if last_page %}
								<a href="{{ last_page }}" class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-last-page="true">
								  <div class="mdc-button__icon">last_page</div>
								</a>
							{% else %}
								<button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-last-page="true" disabled>
								  <div class="mdc-button__icon">last_page</div>
								</button>
							{% endif %}
						  </div>
						</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-typography mdc-typography--caption">
				<div style="position: fixed; padding-right: 16px; overflow-x: hidden; overflow-y: auto; height: calc(100vh - 88px);">
					<div class="mdc-card" style="margin-bottom: 16px; padding: 8px;">
						<div id="empty_details">
							Select one or more events from the left&#8230;
						</div>
						<div id="event_details_view">
							<img id="event_preview" style="width: 100%; border: thin solid #808080; border-radius: 4px; box-sizing: border-box; aspect-ratio: 1/1; object-fit: cover;">

							<strong id="event_name"></strong>
							<div id="event_summary"></div>
					
							<p id="event_date" class="mdc-typography--caption"></p>
					
							<p class="mdc-typography--caption" style="margin-bottom: 0;">
								<strong>Details</strong><br />
							
								<div id="event_details"></div>
							</p>
						</div>
					</div>
					<div class="mdc-card mdc-typography--caption" style="margin-bottom: 16px; padding: 8px;">
						<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon" id="search_field" style="margin-top: 8px;">
							<span class="mdc-notched-outline">
								<span class="mdc-notched-outline__leading"></span>
								<span class="mdc-notched-outline__notch">
									<span class="mdc-floating-label" id="my-label-id">Search</span>
								</span>
								<span class="mdc-notched-outline__trailing"></span>
							</span>
							<input type="search" class="mdc-text-field__input" aria-labelledby="my-label-id" value="{{ query }}">
  							{% if query %}<i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button" id="search_field_clear">clear</i>{% endif %}
  						</label>
						<p style="margin-top: 16px;">
							<strong>Date Range</strong><br />
							<label class="mdc-text-field mdc-text-field--outlined" style="margin-bottom: 8px; margin-top: 8px; width: 100%;" id="start_date">
								<span class="mdc-notched-outline">
									<span class="mdc-notched-outline__leading"></span>
									<span class="mdc-notched-outline__notch">
										<span class="mdc-floating-label" id="my-label-id" style="font-size: 12px;">Start</span>
									</span>
									<span class="mdc-notched-outline__trailing"></span>
								</span>
								<input type="date" class="mdc-text-field__input" aria-labelledby="my-label-id" value="{{ start }}">
							</label>
							<label class="mdc-text-field mdc-text-field--outlined" id="end_date" style="width: 100%;">
								<span class="mdc-notched-outline">
									<span class="mdc-notched-outline__leading"></span>
									<span class="mdc-notched-outline__notch">
										<span class="mdc-floating-label" id="my-label-id" style="font-size: 12px;">End</span>
									</span>
									<span class="mdc-notched-outline__trailing"></span>
								</span>
								<input type="date" class="mdc-text-field__input" aria-labelledby="my-label-id"  value="{{ end }}">
							</label>
							<button class="mdc-button mdc-button--raised" style="width: 100%; margin-top: 8px;" id="filter_date_button">
								<span class="mdc-button__ripple"></span>
								<span class="mdc-button__focus-ring"></span>
								<span class="mdc-button__label">Filter by date</span>
							</button>							
						</p>
						<p>
							<strong>Tags</strong>{% if tags %} <a href="{{ clear_tag_url }}" style="float: right;">Clear</a>{% endif %}<br />
							{% for item_tag in tags %}
								{% if forloop.counter0 != 0 %}&bull;{% endif %}
								{% if item_tag.tag in selected_tags%}
									<a href="{{ item_tag.clear_url }}" class="selected_tag">{{ item_tag.name }}</a>
								{% else %}
									<a href="{{ item_tag.add_url }}">{{ item_tag.name }}</a>
								{% endif %}
							{% endfor %}
						</p>
						<p>
							<div class="mdc-select mdc-select--outlined" id="activity_select">
								<div class="mdc-select__anchor"	role="button" aria-haspopup="listbox" aria-expanded="false">
									<span class="mdc-notched-outline">
										<span class="mdc-notched-outline__leading"></span>
										<span class="mdc-notched-outline__notch">
										<span id="outlined-select-label" class="mdc-floating-label">Select activity&#8230;</span>
										</span>
										<span class="mdc-notched-outline__trailing"></span>
									</span>
									<span class="mdc-select__selected-text-container">
										<span id="demo-selected-text" class="mdc-select__selected-text"></span>
									</span>
									<span class="mdc-select__dropdown-icon">
										<svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
											<polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
											<polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
										</svg>
									</span>
								</div>

								<div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" style="z-index: 9999;">
									<ul class="mdc-list" role="listbox" aria-label="Select activity&#8230;">
										{% for activity in activities %}
											{% if activity.slug == selected_activity %}
												<li class="mdc-list-item mdc-list-item--selected" data-value="{{ activity.slug }}" role="option">
													<span class="mdc-list-item__ripple"></span>
													<span class="mdc-list-item__text">
														{{ activity.name }}
													</span>
												</li>
											{% else %}
												<li class="mdc-list-item" data-value="{{ activity.slug }}" role="option">
													<span class="mdc-list-item__ripple"></span>
													<span class="mdc-list-item__text">
														{{ activity.name }}
													</span>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="mdc-dialog" id="dialog_preview">
		<div class="mdc-dialog__container">
			<div class="mdc-dialog__surface" role="alertdialog">
				<img id="dialog_preview_image" style="width: 100%;">
			</div>
		<div class="mdc-dialog__scrim"></div>
	</div>
{% endblock %}

{% block 'js_init' %}
	<script>window.selectedActivity = '{{ selected_activity }}'</script>
	<script data-main="{% static 'builder-js/js/app/activity_log_table.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
{% endblock %}
