{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">

        <script src="https://kit.fontawesome.com/78410c1b93.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'builder-js/vendor/material-components-web-11.0.0.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>Hive Mechanic</title>
        <style>
            body {
                display: flex;
                height: 100vh;
                margin: 0px;
            }

            .mdc-drawer-app-content {
                flex: auto;
                overflow: auto;
                position: relative;
            }

            .main-content {
                overflow: hidden;
                height: 100%;
            }

            .app-bar {
                position: absolute;
                z-index: 10;
            }

            .mdc-top-app-bar {
                z-index: 7;
            }
            .mdc-icon-button {

            }
            .mdc-icon-button.small {
                width: 32px;
                height: 32px;

            }
            .material-icons.small {
                font-size: 16px;
            }

            a {
                text-decoration: none;
            }
            
            .mdc-card img {
            	width: 100%;
            }

			/* #builder_source_nodes, #builder_current_node, #builder_next_nodes {
				padding-top: 5px;
				padding-bottom: 5px;
				-webkit-mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent 100%);
				mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent 100%);

				overflow-y: scroll;
			} */
        </style>

    </head>
    <body class="mdc-typography">
        <header class="mdc-top-app-bar app-bar mdc-top-app-bar--fixed" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon" id="nav_menu_icon">menu</a>
                    <span class="mdc-top-app-bar__title">Hive Mechanic</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
					
                    <label for="hive-help-switch-toggle" id="hive-help-switch-label">Basic: </label>
					<div class="mdc-switch" id="hive-help-switch" style="margin-left: 11px; margin-right: 44px;" aria-describedby="action_toggle_mode">
						<div class="mdc-switch__track"></div>
						<div class="mdc-switch__thumb-underlay">
							<div class="mdc-switch__thumb"></div>
							<input type="checkbox" id="hive-help-switch-toggle" class="mdc-switch__native-control" role="switch" aria-checked="false">
						</div>
					</div>
					<div id="action_toggle_mode" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Toggle interface mode (basic or advanced)</div>
					</div>                    

                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Annotated Help" aria-describedby="action_annotated_help_tip" id="action_annotated_help" style="margin-left: 22px;">quiz</a>
					<div id="action_annotated_help_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">View annotated help</div>
					</div>                    

                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="View Structure" aria-describedby="action_view_structure_tip" id="action_view_structure" style="margin-left: 22px;">schema</a>
					<div id="action_view_structure_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">View activity structure</div>
					</div>                    
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Reset Game" aria-describedby="action_reset_activity_tip" id="action_reset_activity" style="margin-left: 11px;">update</a>
					<div id="action_reset_activity_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Reset activity</div>
					</div>                    
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="List Game Variables" aria-describedby="action_list_variables_tip" id="action_list_variables" style="margin-left: 11px;">calculate</a>
					<div id="action_list_variables_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">List activity variables</div>
					</div>                    
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Select Card" aria-describedby="action_select_card_tip" id="action_select_card" style="margin-left: 11px;">toc</a>
					<div id="action_select_card_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Advance to selected card</div>
					</div>                    
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Save" aria-describedby="action_save_tip" id="action_save" style="margin-left: 11px;">save</a>
					<div id="action_save_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
						<div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Save activity</div>
					</div>                    
                </section>
            </div>
        </header>
        <aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust">
            <div class="mdc-drawer__content">
                <ul class="mdc-list" id="activity_list" style="padding: 0px;">
                    <li class="mdc-list-item mdc-list-item--with-one-line" id="action_open_settings" aria-current="page">
                    	<span class="mdc-list-item__ripple"></span>
                        <span class="material-icons mdc-list-item__start" aria-hidden="true">video_settings</span>
                        <span class="mdc-list-item__text mdc-list-item__end" style="margin-left: 16px;">Activity Settings</span>
                    </li>
        			<li role="separator" class="mdc-list-divider"></li>
                </ul>
                <ul class="mdc-list" id="sequences_list" style="padding: 0px;">
                </ul>
            </div>
        </aside>
        <div class="mdc-drawer-scrim"></div>

        <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust" style="background-color: #BDBDBD;">
            <main class="main-content" id="main-content">
                <div class="mdc-layout-grid" id="editor-view">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="padding-bottom: 16px;">
                            <span class="mdc-typography--caption" id="sequence_breadcrumbs"></span>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2" id="sources_list">Sources</span>
                        </div>
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2">Current</span>
                        </div>
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2">Destinations</span>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell" id="builder_source_nodes" style="overflow-y: scroll; scrollbar-width: none;">
                            (Sources Here)
                        </div>
                        <div class="mdc-layout-grid__cell" id="builder_current_node" style="overflow-y: scroll; scrollbar-width: none;"></div>
                        <div class="mdc-layout-grid__cell" id="builder_next_nodes" style="overflow-y: scroll; scrollbar-width: none;">
                            (Destinations Here)
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid" id="settings-view" style="display: none;">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="padding-bottom: 16px;">
							<div class="mdc-card" style="padding: 16px;">
								<h2 class="mdc-typography--headline6" style="margin-top: 0px;">Activity Settings</h2>
								<div class="mdc-layout-grid" id="builder-activity-setting-dialog-content" style="margin: 0; padding: 0;">
									<div class="mdc-layout-grid__inner">
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
											<div class="mdc-typography--subtitle1">Basic Settings</div>
											<div class="mdc-layout-grid__inner">
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
													<div class="mdc-text-field mdc-text-field--outlined" id="builder-activity-setting-activity-name" style="width: 100%; margin-top: 12px;">
														<input type="text" id="tf-outlined" class="mdc-text-field__input">
														<div class="mdc-notched-outline">
															<div class="mdc-notched-outline__leading"></div>
															<div class="mdc-notched-outline__notch">
																<label for="tf-outlined" class="mdc-floating-label">Activity Name</label>
															</div>
															<div class="mdc-notched-outline__trailing"></div>
														</div>
													</div>
												</div>
												<!-- <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
													<div class="mdc-text-field mdc-text-field--outlined" id="builder-activity-setting-activity-identifier" style="width: 100%; margin-top: 12px;">
														<input type="text" id="tf-outlined" class="mdc-text-field__input">
														<div class="mdc-notched-outline">
															<div class="mdc-notched-outline__leading"></div>
															<div class="mdc-notched-outline__notch">
																<label for="tf-outlined" class="mdc-floating-label">Activity Identifier</label>
															</div>
															<div class="mdc-notched-outline__trailing"></div>
														</div>
													</div>
													<div class="mdc-typography--caption" id="activity-identifier-warning" style="color: #B71C1C;">Invalid characters or format detected. Please use only alphanumeric characters and dashes.</div>
												</div> -->
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
													<div class="mdc-select mdc-select--outlined" id="builder-activity-setting-initial-card" style="width: 100%">
														<div class="mdc-select__anchor" style="width: 100%;">
															<span class="mdc-notched-outline">
																<span class="mdc-notched-outline__leading"></span>
																<span class="mdc-notched-outline__notch">
																	<span id="outlined-select-label" class="mdc-floating-label">General Start Card</span>
																</span>
																<span class="mdc-notched-outline__trailing"></span>
															</span>
															<span class="mdc-select__selected-text-container">
																<span id="demo-selected-text" class="mdc-select__selected-text"></span>
															</span>
															<span class="mdc-select__dropdown-icon">
																<svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
																	<polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
																	<polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
																</svg>
															</span>
														</div>
														<div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox" id="builder-activity-setting-initial-card-list"></div>
													</div>
												</div>
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
													<div class="mdc-select mdc-select--outlined" id="builder-activity-setting-voice-card" style="width: 100%">
														<div class="mdc-select__anchor" style="width: 100%;">
															<span class="mdc-notched-outline">
																<span class="mdc-notched-outline__leading"></span>
																<span class="mdc-notched-outline__notch">
																	<span id="outlined-select-label" class="mdc-floating-label">Voice Call Start Card</span>
																</span>
																<span class="mdc-notched-outline__trailing"></span>
															</span>
															<span class="mdc-select__selected-text-container">
																<span id="demo-selected-text" class="mdc-select__selected-text"></span>
															</span>
															<span class="mdc-select__dropdown-icon">
																<svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
																	<polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
																	<polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
																</svg>
															</span>
														</div>
														<div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox" id="builder-activity-setting-voice-card-list"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
											<center class="mdc-typography--subtitle1">Icon</center>
											<a href="#" id="icon_activity_click">
												<center><img id="icon_activity" style="background-color: #808080; max-height: 120px; margin-left: auto; margin-right: auto; margin-top: 8px;" {% if game.icon %}src="{{ game.icon.url }}"{% endif %} /></center>
												<br />
												<center class="mdc-typography--caption">Tap to update activity icon</center>
											</a>
											<form enctype="multipart/form-data" style="display: none;" id="icon_activity_form" method="post" action="{% url 'builder_update_icon' %}">
												{% csrf_token %}
												<input name="activity_pk" type="hidden" value="{{ game.pk }}" />
												<input name="icon_file" id="icon_activity_file" type="file" accept="image/*" />
											</form>											
										</div>
									</div>
									<div class="mdc-layout-grid__inner" style="border-top: thin solid #9e9e9e; margin-top: 16px; padding-top: 16px;">
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-top">
											<div class="mdc-layout-grid__inner">
												<div class="mdc-typography--subtitle1 mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">Activity & Session Variables</div>
												<div id="activity_variables" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top mdc-layout-grid__inner" style="max-height: 256px; overflow-y: scroll;">
													<div class="mdc-typography--subtitle1 mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top"><em>None set.</em></div>
												</div>
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
													<button type="button" class="mdc-button mdc-button--raised" id="builder-activity-setting-add-variable">
														<span class="mdc-button__ripple"></span>
														<span class="mdc-button__label">Add Variable</span>
													</button>
												</div>
											</div>
										</div>
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-top">
											<div class="mdc-layout-grid__inner">
												<div class="mdc-typography--subtitle1 mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">Interrupt Keywords</div>
												<div id="activity_settings_interrupts" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top mdc-layout-grid__inner" style="max-height: 256px; overflow-y: scroll;">
													<div class="mdc-typography--subtitle1 mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top"><em>None specified.</em></div>
												</div>
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top">
													<div id="activity_settings_interrupts" class="mdc-layout-grid__inner"></div>
													<button type="button" class="mdc-button mdc-button--raised" id="builder-activity-setting-add-keyword">
														<span class="mdc-button__ripple"></span>
														<span class="mdc-button__label">Add Keyword</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="add-card-dialog"  aria-labelledby="add-card-dialog-title" aria-describedby="add-card-dialog-content">
            <div class="mdc-dialog__container" style="width: 95%;">
                <div class="mdc-dialog__surface" style="width: 100%; max-width: 100%;">
                    <h2 class="mdc-dialog__title" id="add-card-dialog-title">Add Card</h2>
                    <div class="mdc-dialog__content" id="add-card-dialog-content">
						<div class="mdc-layout-grid__inner" id="add-card-select-widget">
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" style="padding-bottom: 16px;">
								<div class="mdc-text-field mdc-text-field--outlined" id="add-card-name" style="width: 100%; margin-top: 8px;">
									<input type="text" class="mdc-text-field__input" id="add-card-name-value">
									<div class="mdc-notched-outline">
										<div class="mdc-notched-outline__leading"></div>
										<div class="mdc-notched-outline__notch">
											<label for="add-card-name-value" class="mdc-floating-label">Action Name</label>
										</div>
										<div class="mdc-notched-outline__trailing"></div>
									</div>
								</div>
							</div>
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" style="padding-bottom: 16px;">
								(Context here...)
							</div>
						</div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add_card">
                            <span class="mdc-button__label">Add Card</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="add-sequence-dialog"  aria-labelledby="add-sequence-dialog-title" aria-describedby="add-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Add Sequence</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        <div class="mdc-text-field mdc-text-field--outlined" id="add-sequence-name"  style="width: 100%; margin-top: 8px;">
                            <input type="text" class="mdc-text-field__input" id="add-sequence-name-value">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="add-card-name-value" class="mdc-floating-label">Sequence Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add_sequence">
                            <span class="mdc-button__label">Add Sequence</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="edit-sequence-dialog"  aria-labelledby="edit-sequence-dialog-title" aria-describedby="edit-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Edit Sequence</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        <div class="mdc-text-field mdc-text-field--outlined" id="edit-sequence-name" style="width: 100%; margin-top: 8px;">
                            <input type="text" class="mdc-text-field__input" id="edit-sequence-name-value">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="add-card-name-value" class="mdc-floating-label">Sequence Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <!-- <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="remove_sequence">
                            <span class="mdc-button__label">Remove</span>
                        </button> -->
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="update_sequence">
                            <span class="mdc-button__label">Update</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="remove-sequence-dialog"  aria-labelledby="remove-sequence-dialog-title" aria-describedby="remove-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Remove Sequence?</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        Are you sure that you want to remove the "<span id="remove-sequence-name-value">SEQUENCE</span>" sequence?
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">No</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="remove_sequence">
                            <span class="mdc-button__label">Yes</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="builder-outstanding-issues-dialog"  aria-labelledby="builder-outstanding-issues-dialog-title" aria-describedby="builder-outstanding-issues-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="builder-outstanding-issues-dialog-title">Outstanding Issues</h2>
                    <div class="mdc-dialog__content" id="builder-outstanding-issues-dialog-content" style="padding: 0px;">
                        <ul class="mdc-list mdc-list--two-line mdc-dialog__content outstanding-issue-items" style="padding: 0px;">
							<li role="separator" class="mdc-list-divider" id="builder-outstanding-issues-dialog-save-divider"></li>
                            <li class="mdc-list-item mdc-list-item--with-two-lines mdc-list-item--with-trailing-icon prevent-menu-close" id="builder-outstanding-issues-dialog-save">
								<span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__content">
                                    <span class="mdc-list-item__primary-text">Save With Issues</span>
                                    <span class="mdc-list-item__secondary-text">May exhibit unexpected behavior!</span>
                                </span>
                                <span class="mdc-list-item__end">
                                	<i class="material-icons">save</i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="builder-select-card-dialog"  aria-labelledby="builder-select-card-dialog-title" aria-describedby=builder-select-card-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="builder-select-card-dialog-title">Select Card</h2>
                    <div class="mdc-dialog__content" id="builder-select-card-dialog-content" style="padding: 0;">
                    	<ul class="mdc-list" id="select-all-cards-items"></ul>
                    </div>
                </div>
            </div>
        </div>

		<div class="mdc-dialog" role="alertdialog" aria-modal="true" id="select-interrupt-dialog"  aria-labelledby="select-interrupt-dialog-title" aria-describedby="select-interrupt-dialog-content">
			<div class="mdc-dialog__container">
				<div class="mdc-dialog__surface">
					<h2 class="mdc-dialog__title" id="select-interrupt-dialog-title">Choose Destination</h2>
                    <div class="mdc-dialog__content" id="select-interrupt-dialog-content" style="padding: 0;"></div>
				</div>
			</div>
		</div>

		<div class="mdc-dialog" role="alertdialog" aria-modal="true" id="select-card-destination-edit-dialog"  aria-labelledby="select-card-destination-edit-dialog-title">
			<div class="mdc-dialog__container">
				<div class="mdc-dialog__surface">
					<h2 class="mdc-dialog__title" id="select-card-destination-edit-dialog-title">Choose Destination</h2>
					<ul class="mdc-list mdc-dialog__content dialog_card_selection_menu" id="select-card-destination-edit-dialog-menu" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1" style="padding: 0px;"></ul>
				</div>
			</div>
		</div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="builder-reset-game-dialog"  aria-labelledby="add-reset-game-dialog-title" aria-describedby="add-reset-game-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-reset-game-dialog-title">Reset Activity</h2>
                    <div class="mdc-dialog__content mdc-layout-grid__inner" style="row-gap: 8px" id="add-reset-game-dialog-content">
						<div class="mdc-form-field mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<div class="mdc-radio">
								<input class="mdc-radio__native-control" type="radio" value="close-active-sessions" id="close_sessions" name="builder_reset_game"  data-url="{% url 'builder_activity_actions_json' game.slug %}" checked />
								<div class="mdc-radio__background">
									<div class="mdc-radio__outer-circle"></div>
									<div class="mdc-radio__inner-circle"></div>
								</div>
								<div class="mdc-radio__ripple"></div>
							</div>
							<label for="radio-1" class="mdc-typography--body1">Close Active Sessions</label>
						</div>
						<div class="mdc-form-field mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<div class="mdc-radio">
								<input class="mdc-radio__native-control" type="radio" value="reset-game-variables" id="reset_game" name="builder_reset_game" data-url="{% url 'builder_activity_actions_json' game.slug %}" />
								<div class="mdc-radio__background">
									<div class="mdc-radio__outer-circle"></div>
									<div class="mdc-radio__inner-circle"></div>
								</div>
								<div class="mdc-radio__ripple"></div>
							</div>
							<label for="radio-1" class="mdc-typography--body1">
								Reset Activity Variables<br />
								<span class="mdc-typography--caption"">(Examples: High Score, Current Location)</span>
							</label>
						</div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="reset_game">
                            <span class="mdc-button__label">OK</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

		<div class="mdc-menu mdc-menu-surface" id="sequence_menu">
			<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabIndex="-1">
				<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line up-sequence" role="menuitem" data-index="X" data-action="move_up">
					<span class="mdc-list-item__ripple"></span>
					<span class="mdc-list-item__text mdc-list-item__start">Move Up</span>
				</li>
				<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line down-sequence" role="menuitem" data-index="X" data-action="move_down">
					<span class="mdc-list-item__ripple"></span>
					<span class="mdc-list-item__text mdc-list-item__start">Move Down</span>
				</li>
				<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line rename-sequence" role="menuitem" data-index="X" data-action="rename">
					<span class="mdc-list-item__ripple"></span>
					<span class="mdc-list-item__text mdc-list-item__start">Rename</span>
				</li>
				<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line delete-sequence" role="menuitem" data-index="X" data-action="delete">
					<span class="mdc-list-item__ripple"></span>
					<span class="mdc-list-item__text mdc-list-item__start">Delete</span>
				</li>
			</ul>
		</div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="builder-game-variables-dialog"  aria-labelledby="builder-game-variables-dialog-title" aria-describedby="builder-game-variables-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="builder-game-variables-dialog-title">Game Variables</h2>
                    <div class="mdc-dialog__content mdc-layout-grid__inner" style="row-gap: 8px" id="builder-game-variables-dialog-content"></div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Close</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="preview-dialog"  aria-labelledby="preview-dialog-title" aria-describedby="preview-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface" style="max-width: none;">
					<div class="mdc-dialog__header">
						<h2 class="mdc-dialog__title" id="preview-dialog-title" style="display: inline-block;">Structure View</h2>
						<button class="mdc-button material-icons" style="float: right; margin-top: 12px;" data-mdc-dialog-action="close">close</button>
					</div>
                    <div class="mdc-dialog__content" id="preview-dialog-content" style="padding: 0px;">
						<iframe title="Structure View" id="preview-dialog-canvas" style="border-top: thin solid gray; border-bottom: thin solid gray; border-left: none; border-right: none; background-color: #eeeeee;" scrolling="no"></iframe> 
                    </div>
                </div>
            </div>
            <!-- <div class="mdc-dialog__scrim"></div> -->
        </div>

		<div class="mdc-dialog mdc-dialog--sheet mdc-dialog--no-content-padding" role="alertdialog" aria-modal="true" id="annotated-help-dialog"  aria-describedby="annotated-help-dialog-content" aria-labelledby="annotated-help-dialog__title--with-close-icon-button">
			<div class="mdc-dialog__scrim" data-mdc-dialog-action="cancel"></div>
			<div class="mdc-dialog__container">
				<div class="mdc-dialog__surface" style="max-width: 80%; padding: 16px;">
					<div class="mdc-dialog__content" id="preview-dialog-content" style="padding: 0px;">
						<img src="{% static 'builder-js/images/annotated_help.png' %}" style="width: 100%;" />
						
						<p class="mdc-typography--body1" style="text-align: center;">For more tutorials on Hive Mechanic, see <a href="https://www.hivemechanic.org/overview/guides-and-tutorials/" target="_blank">our guides and tutorials</a>.</p>
						<!-- <button class="mdc-icon-button material-icons mdc-dialog__close" data-mdc-dialog-action="close" style="position: absolute; top: 8px; right: 8px;">close</button> -->
					</div>
				</div>
			</div>
			<!-- <div class="mdc-dialog__scrim"></div> -->
		</div>


    </body>
    <script>
        window.dialogBuilder = {
            cards: {{ game.interaction_card_modules_json }},
            source: '{{ game.definition_json }}',
            visualization: "{% url 'builder_activity_view' game.slug %}",
            categories: {{ game.interaction_card_categories_json }},
            update: function(definition, success, failure) {
                var payload = {
                    'definition': JSON.stringify(definition, 2)
                };

                $.post("{% url 'builder_game' game.slug %}", payload, function(data) {
                    success(data);
                });
            },
            fetchVariables(fetched) {
                $.get("{% url 'builder_game_variables' game.slug %}", function(data) {
                    fetched(data);
                });
            }
        };
    </script>

    <script data-main="{% static 'builder-js/js/app/main.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
</html>
