{% extends 'builder_base.html' %}
{% load humanize %}
{% load static %}
{% load simple_dashboard %}

{% block 'page_title' %}Dashboard | Interaction Builder{% endblock %}

{% block 'page_help' %}
	<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Help" id="action_help">help</a>
{% endblock %}

{% block 'navigation_title' %}Dashboard{% endblock %}

{% block 'main_content' %}
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			{% simple_dashboard_active_signals %}
		</div>
	</div>

	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="mdc-card mdc-layout-grid__cell--span-3" style="padding: 16px;">
					<div class="mdc-typography mdc-typography--headline6">Phone Calls</div>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Calls: <strong>XX</strong> (made) / <strong>XX</strong> (received)</p>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Average Call Duration: <strong>XX</strong></p>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Total Call Minutes: <strong>XX</strong></p>
					{% if message_limit %}
						<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">
							Limit Remaining: <strong {% if messages_remaining_warning %}style="color: #B71C1C;"{% endif %}>{{ messages_remaining }} (of {{ message_limit }})</strong>
							{% if message_limit_reset %}
								<br />
								<span class="mdc-typography mdc-typography--caption">Since {{ message_limit_reset.date }}</span>
							{% endif %}
						</p>
					{% endif %}
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="mdc-card" style="padding: 16px;">
					<div class="mdc-typography mdc-typography--headline6">API Calls</div>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Calls Received: <strong>{{ incoming_messages.count|intcomma }}</strong></p>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Calls Sent: <strong>{{ outgoing_messages_sent.count|intcomma }}</strong></p>
					<p class="mdc-typography mdc-typography--body1" style="margin-bottom: 0px;">Average Call Count: <strong>{{ outgoing_messages_pending.count|intcomma }}</strong></p>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block 'js_init' %}
	<script data-main="{% static 'builder-js/js/app/home.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
{% endblock %}
