{% extends 'builder_base.html' %}
{% load static %}
{% load filer_admin_tags %}
{% load absolute_uri_tags %}
{% block 'page_title' %}All Media| Hive Mechanic{% endblock %}

{% block 'main_content' %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <div class="mdc-layout-grid">
        <form method="post" enctype="multipart/form-data" action={% url 'builder_media_upload' %}>
                   {% csrf_token %}
            <input class="mdc-form-field" type="file" name="file" onchange="this.form.submit()"/>
        </form>
    </div>
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			{% for m in media %}
				<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
					<div class="mdc-card" style="padding: 16px;">
						<div class="mdc-layout-grid__inner">
							<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                                {% file_icon m %}
							</div>
                            <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                {% absolute_uri m.url request %}
							</div>
                            <div class="mdc-layout-grid__cell">
                                <button onclick=" navigator.clipboard.writeText('{% absolute_uri m.url request %}'); alert('copied');">Copy url to clipboard</button>
                            </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
    </div>

<ul class="paginator">
    {% for page in media.paginator.page_range %}
        {% if page == media.number %}
            <li>{{ page }}</li>
        {%  else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>

        {% endif %}
    {% endfor %}
</ul>
{%  endblock %}
