{% extends 'builder_base.html' %}
{% load static %}

{% block 'page_title' %}All Activities | Hive Mechanic{% endblock %}

{% block 'page_help' %}
	<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Help" id="action_help">help</a>
{% endblock %}

{% block 'navigation_title' %}All Activities{% endblock %}

{% block 'main_content' %}
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			{% for activity in activities %}
				<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
					<div class="mdc-card" style="padding: 16px;">
						<div class="mdc-layout-grid__inner">
							<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
								{% if activity.icon %}
									<img style="width: 100%;" src="{{ activity.icon.url }}" />
								{% else %}
									<div class="builder_game_preview" id="builder_game_preview_{ activity.pk }}" style="width: 100%;" data-definition="{{ activity.cytoscape_json }}" /></div>
								{% endif %}
							</div>
							<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
								<div class="mdc-layout-grid__inner">
									<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
										<div class="mdc-typography mdc-typography--headline6">
											<a href="{% url 'builder_game' activity.slug %}">{{ activity.name }}</a>

											<div class="mdc-menu-surface--anchor" style="float: right;">
												<i class="material-icons mdc-icon-button__icon activity_menu_open" aria-hidden="true">more_vert</i>
												<div class="mdc-menu mdc-menu-surface">
													<ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
														<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line" role="menuitem" data-id="{{ activity.slug }}" data-name="{{ activity.name }}" data-action="clone">
															<span class="mdc-list-item__ripple"></span>
															<span class="mdc-list-item__text mdc-list-item__start">Clone Activity&#8230;</span>
														</li>
														<li class="mdc-list-item mdc-list-item mdc-list-item--with-one-line" role="menuitem"  data-id="{{ activity.slug }}" data-name="{{ activity.name }}" data-action="delete">
															<span class="mdc-list-item__ripple"></span>
															<span class="mdc-list-item__text mdc-list-item__start">Delete Activity&#8230;</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
										<div class="mdc-typography mdc-typography--caption"><strong>Activity Details</strong></div>
										<div class="mdc-typography mdc-typography--body2">Identifier: {{ activity.slug }}</div>
										<div class="mdc-typography mdc-typography--body2">Last Updated: {{ activity.latest_version.created }}</div>
										<div class="mdc-typography mdc-typography--body2">Versions: {{ activity.versions.count }}</div>
									</div>
									<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
										<div class="mdc-typography mdc-typography--caption"><strong>Sessions</strong></div>
										<div class="mdc-typography mdc-typography--body2">Active Sessions: {{ activity.active_session_count }}</div>
										<div class="mdc-typography mdc-typography--body2">Inactive Sessions: {{ activity.inactive_session_count }}</div>
									</div>
									<div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
										<div class="mdc-typography mdc-typography--caption"><strong>Integrations</strong></div>
										{% for integration in activity.integrations.all %}
											<div>
												{% with stats=integration.fetch_statistics %}
													<div class="mdc-typography mdc-typography--body2 toggle_integration" style="position: relative; height: 32px;">
														<span class="material-icons" style="font-size: 18px; position: absolute; top: 50%; transform: translateY(-50%); opacity: 0.5;">add_circle</span>
														<strong style="position: absolute; top: 50%; left:22px; transform: translateY(-50%);">{{ stats.name }} ({{ stats.type }})</strong>
													</div>
													<div class="toggle_integration_content" style="margin-left: 22px; display: none;">
															{% for detail in stats.details %}
																<div class="mdc-typography mdc-typography--body2">{{ detail.0 }}: {{ detail.1 }}</div>
															{% endfor %}
															<br />
													</div>
												{% endwith %}
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}	
		</div>
	</div>

	<button class="mdc-fab floating-action-button" id="action_add_game" aria-label="Add Game">
		<div class="mdc-fab__ripple"></div>
		<span class="mdc-fab__icon material-icons">add</span>
	</button>
	<div class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content" id="dialog_add_game">
		<div class="mdc-dialog__container">
			<div class="mdc-dialog__surface">
				<h2 class="mdc-dialog__title" id="my-dialog-title">Add New Game</h2>
				<div class="mdc-dialog__content" id="my-dialog-content">
					<div class="mdc-text-field mdc-text-field--outlined" id="textfield_add_game" style="margin-top: 8px; width: 100%;">
						<input type="text" class="mdc-text-field__input" id="field_add_game">
						<div class="mdc-notched-outline">
							<div class="mdc-notched-outline__leading"></div>
								<div class="mdc-notched-outline__notch">
								<label for="tf-outlined" class="mdc-floating-label">Game Name</label>
							</div>
							<div class="mdc-notched-outline__trailing"></div>
						</div>
					</div>
				</div>
				<footer class="mdc-dialog__actions">
					<button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
						<span class="mdc-button__label">Cancel</span>
					</button>
					<button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add">
						<span class="mdc-button__label">Add Game</span>
					</button>
				</footer>
			</div>
		</div>
		<div class="mdc-dialog__scrim"></div>
	</div>
{% endblock %}

{% block 'js_init' %}
	<script data-main="{% static 'builder-js/js/app/activities.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
{% endblock %}
